<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="qaclickacademytestSuit">
  <test thread-count="1" name="Smoke">
    <classes>
      <class name="qaclickacademy.testcases.RegisterPageTestCases"/>
      <class name="qaclickacademy.testcases.LoginPageTestCases"/>
      <class name="qaclickacademy.testcases.LandingPageTestCases"/>
    </classes>
  </test> 
</suite> 
